/* You can add global styles to this file, and also import other style files */
:root {
    --primary-background-color: #F0F2F5;
    --primary-text-color: #000;
    --primary-element-color: #fff;
    --secondary-background-color: #18191A;
    --secondary-text-color: #fff;
    --secondary-element-color: #242526;
    direction: rtl;
}
img{
    max-width: 100%;
}

.carousel-control{ 
    background-color: rgba(0, 0, 0,0.3) !important;
    width: 30px !important;
    transition: all 0.2s ease-in-out !important;
}
.carousel-control:hover{
    background-color: rgba(0, 0, 0,0.6) !important;
    width: 40px !important;
}